{% extends 'pa_core/overview.html' %}

{% block items %}
    <div class="mb-4">
        <a href="{% url 'pa_file:home' %}" class="btn btn-secondary">
            All Files
        </a>

        {% for type in types %}
            <a
                href="{% url 'pa_file:category' type|lower %}"
                class="btn btn-secondary"
            >
                {{ type}}
            </a>
        {% endfor %}
    </div>

    <ul class="list-group">
        {% for path, category in items.items %}
            <li class="list-group-item">
                <a href="{{ path }}" target="_blank">{{ path }}</a>
                <span class="badge bg-primary">{{ category }}</span>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
