{% extends "pa_core/home.html" %}
{% block title %}
    Contacts
{% endblock %}

{% block content %}
<div>
    {% for tag in tags %}
        <div>
            <span>{{tag.name}}</span>
            <div class="card-footer">
                <a href="{% url 'pa_tags:delete' tag.id %}" 
                    role="button" > 
                    <i></i> Delete
                </a>
            </div>
        </div>                 
    {% endfor %}

    <a href="{% url 'pa_tags:add_tag' %}" role="button">Add tag</a>
   
</div>
                
{% endblock %}