{% extends "pa_core/home.html" %}
{% block title %}
    Contacts
{% endblock %}

{% block content %}
    
    <a 
        href="{% url 'pa_contacts:add_contact' %}" 
        role="button" 
        class="btn btn-success btn-lg"
        style="margin-bottom: 20px;"
    >
        <i class="bi bi-person-fill-add"></i> Create
    </a>
    {% if contacts %}
        <div class="container md-4">
            <div class="row">
                <div class="col-md-9">
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                        {% for contact in contacts %}
                            <div class="col" id="contact-{{ contact.id }}">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <h5 class="card-title"> 
                                            <i class="bi bi-person-fill"></i> {{ contact.name }} 
                                        </h5>
                                        <p class="card-text mb-1">
                                            <i class="bi bi-telephone-fill"></i> {{ contact.phone }}
                                        </p>
                                        {% if contact.email %}
                                        <p class="card-text mb-1">
                                            <i class="bi bi-envelope-at-fill"></i> {{ contact.email }}
                                        </p>
                                        {% endif %}
                                        {% if contact.address %}
                                        <p class="card-text mb-1">
                                            <i class="bi bi-house-fill"></i> {{ contact.address }}
                                        </p>
                                        {% endif %}
                                        {% if contact.birthday %}
                                        <p class="card-text mb-1">
                                            <i class="bi bi-cake2-fill"></i> {{ contact.birthday }}
                                        </p>
                                        {% endif %}
                                    </div>
                                    <div class="card-footer">
                                        <a 
                                            href="{% url 'pa_contacts:delete' contact.id %}" 
                                            role="button" 
                                            class="btn btn-danger"
                                        > 
                                            <i class="bi bi-trash-fill"></i> Delete
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                
                <div class="card text-center col-md-3 h-25">
                    <div class="card-header">
                        <h5 class="text-center">
                            <i class="bi bi-cake2-fill"></i> Upcoming birthdays
                        </h5>
                        <ul class="nav nav-tabs card-header-tabs nav-fill">
                            {% for days_value, text in tabs %}
                                <li class="nav-item">
                                    <a 
                                        href="?days={{ days_value }}" 
                                        class="nav-link {% if days == days_value %}active{% endif %}"
                                        title="Next {{ days_value }} days"
                                    >
                                        {{ text }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="card-body list-group">
                        {% for contact in upcoming_birthdays %}
                            <a 
                                href="#contact-{{ contact.id }}" 
                                class="list-group-item list-group-item-action"
                            >
                                {{ contact.name }} - {{ contact.birthday|date:"F j" }}
                            </a>
                        {% empty %}
                            <div class="alert alert-warning" role="alert">
                                No upcoming birthdays!
                            </div>
                        {% endfor %}
                    </div>
                  </div>
<!--
                <div class="col-md-3">
                    <h4 class="text-center">Upcoming birthdays</h4>
                    <div 
                        class="btn-group mb-3 w-100" 
                        role="group" 
                        aria-label="Birthday filters" 
                    >
                        <a 
                            href="?days=7" 
                            class="btn btn-primary {% if days == 7 %}active{% endif %}"
                        >
                            7 days
                        </a>
                        <a 
                            href="?days=30" 
                            class="btn btn-primary {% if days == 30 %}active{% endif %}"
                        >
                            30 days
                        </a>
                        <a 
                            href="?days=90" 
                            class="btn btn-primary {% if days == 90 %}active{% endif %}"
                        >
                            90 days
                        </a>
                    </div>
                    <div 
                        class="list-group d-flex" 
                        style="max-height: 200px; overflow-y: auto; width: 100%;"
                    >
                        {% for contact in upcoming_birthdays %}
                            
                            <a 
                                href="#contact-{{ contact.id }}" 
                                class="list-group-item list-group-item-action"
                            >
                                <i class="bi bi-cake2-fill"></i>   {{ contact.name }} - {{ contact.birthday|date:"F j" }}
                            </a>
                        {% empty %}
                            <div class="alert alert-warning" role="alert">
                                No upcoming birthdays!
                            </div>
                        {% endfor %}
                    </div>
                </div>
-->
            </div>
        </div>
    {% else %}
        <div class="alert alert-info text-center" role="alert">
            <h4 class="alert-heading">No Contacts Found!</h4>
            <p>You currently have no contacts. Add your first contact!</p>
            <hr>
            <p class="mb-0">Click the "Create" button to get started!</p>
        </div>
    {% endif %}
{% endblock %}
