{% extends "contacts/base.html" %}

{% block content %}

<form method="POST" action="{% url 'contacts:add_contact' %}">
    {% csrf_token %}
    <div style="padding: 10px">
        <label> Contact name:
            {{ form.name }}
        </label>
        <span>{{ form.errors.name }}</span>
    </div>
    <div style="padding: 10px">
        <label> Contact address:
            {{ form.address }}
        </label>
        <span>{{ form.errors.address }}</span>
    </div>
    <div style="padding: 10px">
        <label> Contact phone number:
            {{ form.phone}}
        </label>
        <span>{{ form.errors.phone }}</span>
    </div>
    <div style="padding: 10px">
        <label> Contact email:
            {{ form.email }}
        </label>
        <span>{{ form.errors.email }}</span>
    </div>
    <div style="padding: 10px">
        <label> Contact birthday:
            {{ form.birthday }}
        </label>
        <span>{{ form.errors.birthday }}</span>
    </div>
    <div class="grid">
        <button type="submit">Submit</button>
        <button type="reset" class="secondary">Reset</button>
    </div>
</form>
{% endblock %}