
{% extends "pa_core/home.html" %} {% block title%}
    Contacts
{% endblock %}

{% block content %}

    <nav class="nav">
        <ul>
            <li><a href="{% url 'contacts:add_contact' %}" role="button" class="btn btn-success">Create contact</a></li>
        </ul>
    </nav>
    

    {% for contact in contacts %}
    
    <ul>
        <li>
            <div class="card w-75 mb-3">
                <div class="card-body">
                    <h5 class="card-title"> {{ contact.name }} </h5>
                    <p class="card-text">{{ contact.phone }}</p>
                    <a href="{% url 'contacts:detail' contact.id %}" role="button" class="btn btn-info"> Details </a>
                    <a href="{% url 'contacts:delete' contact.id %}" role="button" class="btn btn-danger"> Delete contact </a>
                </div>
            </div>
        </li>
    </ul>
    
    {% endfor %}
{% endblock %}
